.image-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1702px;
  height: 957px;
  object-fit: cover;
}
.accueil-2-child,
.dcouvrir-notre-menu {
  position: absolute;
  left: 26px;
  width: 334px;
}
.accueil-2-child {
  border: 0;
  background-color: var(--color-antiquewhite);
  top: 549px;
  border-radius: 23px;
  height: 257px;
}
.dcouvrir-notre-menu {
  top: 603px;
  letter-spacing: -0.03em;
  line-height: 97.5%;
  display: inline-block;
  height: 129px;
}
.accueil-2-item {
  position: absolute;
  top: 699px;
  left: 69px;
  background-color: var(--color-darkslategray);
  width: 245px;
  height: 66px;
  cursor: pointer;
}
.le-menu {
  position: absolute;
  top: 715px;
  left: 28px;
  letter-spacing: -0.03em;
  line-height: 97.5%;
  color: var(--color-antiquewhite);
  display: inline-block;
  width: 334px;
  height: 50px;
}
.accueil-2 {
  position: relative;
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-bebas-neue);
}

#rectangle {
  cursor: pointer;
}