.pour-le-filet {
  margin: 0;
}
.la-slection-tradevino-container6 {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 315px;
  height: 78px;
}
.ferme-des-7-container2,
.terrasses-du-larzac1 {
  position: absolute;
  top: 654px;
  left: 196px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.terrasses-du-larzac1 {
  top: 746px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.boudin-noir-child {
  position: absolute;
  top: 652px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.boudin-noir-item,
.div28 {
  position: absolute;
  top: 636px;
  left: 138px;
  width: 59px;
  height: 59px;
}
.div28 {
  top: 651px;
  left: 145px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille216,
.copy-bouteille217 {
  position: absolute;
  top: 17.36px;
  left: 0.1px;
  transform: rotate(-50.76deg);
  transform-origin: 0 0;
}
.copy-bouteille217 {
  top: 13.04px;
  left: 3.41px;
  transform: rotate(-42.89deg);
}
.copy-bouteille218,
.copy-bouteille219,
.copy-bouteille220 {
  position: absolute;
  top: 9.27px;
  left: 7.21px;
  transform: rotate(-35.13deg);
  transform-origin: 0 0;
}
.copy-bouteille219,
.copy-bouteille220 {
  top: 6.26px;
  left: 11.32px;
  transform: rotate(-29.18deg);
}
.copy-bouteille220 {
  top: 4.2px;
  left: 14.81px;
  transform: rotate(-23.28deg);
}
.copy-bouteille221,
.copy-bouteille222,
.copy-bouteille223 {
  position: absolute;
  top: 2.72px;
  left: 18.14px;
  transform: rotate(-19.52deg);
  transform-origin: 0 0;
}
.copy-bouteille222,
.copy-bouteille223 {
  top: 1.61px;
  left: 20.97px;
  transform: rotate(-13.69deg);
}
.copy-bouteille223 {
  top: 0.56px;
  left: 24.86px;
  transform: rotate(-7.85deg);
}
.copy-bouteille-parent22,
.copy-bouteille224 {
  position: absolute;
  top: -0.07px;
  left: 28.79px;
  transform: rotate(-2.21deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent22 {
  top: 626.19px;
  left: 135px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(-0.34deg);
  font-size: var(--font-size-5xs);
}
.group-child45,
.group-child46 {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.group-child45 {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.group-child46 {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.je-dcouvre18,
.rectangle-parent17 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.je-dcouvre18 {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.group-parent27,
.vector-icon9 {
  position: absolute;
  cursor: pointer;
}
.group-parent27 {
  top: 768px;
  left: 224px;
  width: 137px;
  height: 49px;
  color: var(--color-indianred);
}
.vector-icon9 {
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 20.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.boudin-noir-inner {
  position: absolute;
  top: 720px;
  left: 156px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique9 {
  position: absolute;
  top: 730px;
  left: 156px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.domaine-batar-langelier {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.didascalie2,
.domaine-batar-langelier-2022-container,
.muscadet2 {
  position: absolute;
  top: 175px;
  left: 195px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.didascalie2,
.muscadet2 {
  top: 222px;
  left: 196px;
  font-size: var(--font-size-sm);
}
.muscadet2 {
  top: 242px;
  left: 195px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.boudin-noir-child1 {
  position: absolute;
  top: 172px;
  left: 25px;
  width: 171px;
  height: 171px;
}
.boudin-noir-child2,
.div29 {
  position: absolute;
  top: 156px;
  left: 139px;
  width: 59px;
  height: 59px;
}
.div29 {
  top: 171px;
  left: 146px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille225,
.copy-bouteille226 {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copy-bouteille226 {
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
}
.copy-bouteille227,
.copy-bouteille228,
.copy-bouteille229 {
  position: absolute;
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.copy-bouteille228,
.copy-bouteille229 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copy-bouteille229 {
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
}
.copy-bouteille230,
.copy-bouteille231,
.copy-bouteille232 {
  position: absolute;
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
  transform-origin: 0 0;
}
.copy-bouteille231,
.copy-bouteille232 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copy-bouteille232 {
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
}
.copy-bouteille-parent23,
.copy-bouteille233 {
  position: absolute;
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent23 {
  top: 144px;
  left: 138.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.group-parent28 {
  position: absolute;
  top: 266px;
  left: 224px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.boudin-noir-child3 {
  position: absolute;
  top: 244px;
  left: 152px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie12 {
  position: absolute;
  top: 255px;
  left: 150px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.boudin-noir-child4 {
  position: absolute;
  top: 720px;
  left: 155px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie13 {
  position: absolute;
  top: 731px;
  left: 153px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.boudin-noir-child5,
.div30 {
  position: absolute;
  top: 134.2px;
  left: 171px;
  width: 49px;
  height: 49px;
}
.div30 {
  top: 145.2px;
  left: 173px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-verre40,
.copy-verre41,
.copy-verre42 {
  position: absolute;
  top: -14.93px;
  left: 6.18px;
  transform: rotate(83.04deg);
  transform-origin: 0 0;
}
.copy-verre41,
.copy-verre42 {
  top: -11.09px;
  left: 8.64px;
  transform: rotate(88.39deg);
}
.copy-verre42 {
  top: -6.75px;
  left: 9.9px;
  transform: rotate(92.84deg);
}
.copy-verre-parent6,
.copy-verre43,
.copy-verre44 {
  position: absolute;
  top: -2.95px;
  left: 10.62px;
  transform: rotate(92.36deg);
  transform-origin: 0 0;
}
.copy-verre-parent6,
.copy-verre44 {
  top: 0.21px;
  left: 10.87pxpx;
  transform: rotate(88.76deg);
}
.copy-verre-parent6 {
  top: 140.12px;
  left: 201.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.domaine-coulet-2021-container2 {
  position: absolute;
  top: 410px;
  left: 195px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.tour-de-baulx2 {
  top: 462px;
  left: 196px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 14px;
}
.choses-lune,
.coteaux-du-languedoc2,
.tour-de-baulx2 {
  position: absolute;
  display: inline-block;
  width: 194px;
}
.choses-lune {
  top: 708px;
  left: 195px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 14px;
}
.coteaux-du-languedoc2 {
  top: 491px;
  left: 196px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-roboto);
  height: 22px;
}
.boudin-noir-child6 {
  position: absolute;
  top: 393px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.boudin-noir-child7 {
  position: absolute;
  top: 387px;
  left: 151px;
  width: 59px;
  height: 59px;
}
.boudin-noir-child8,
.div31,
.div32 {
  position: absolute;
  top: 364px;
  left: 182px;
  width: 49px;
  height: 49px;
}
.div31,
.div32 {
  top: 405px;
  left: 158px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.div32 {
  top: 375px;
  left: 184px;
  font-size: var(--font-size-base);
}
.copy-bouteille-parent24 {
  position: absolute;
  top: 376.29px;
  left: 149.55px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xs);
}
.group-parent29 {
  position: absolute;
  top: 515px;
  left: 223px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.image-38-icon {
  position: absolute;
  top: 371px;
  left: 74px;
  border-radius: var(--br-19xl);
  width: 76px;
  height: 200px;
  object-fit: cover;
}
.boudin-noir-child9 {
  position: absolute;
  top: 458px;
  left: 158px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique10 {
  position: absolute;
  top: 468px;
  left: 158px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.didascalie-muscadet-sevre-et-m-icon2 {
  position: absolute;
  top: 140px;
  left: 5px;
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.de-deux-choses-lune-jean-delob-icon {
  position: absolute;
  top: 617px;
  left: 19px;
  width: 182px;
  height: 208px;
  object-fit: cover;
}
.boudin-noir {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
