.choses-lunes-child {
  position: absolute;
  top: 199px;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 390px;
  height: 645px;
}
.shadow-icon23 {
  position: absolute;
  top: 100px;
  left: 22px;
  width: 437px;
  height: 436px;
  object-fit: cover;
  display: none;
  opacity: 0.7;
}
.choses-lunes-item {
  position: absolute;
  top: 94px;
  left: 85px;
  width: 219px;
  height: 219px;
}
.choses-lunes-inner {
  position: absolute;
  top: 677px;
  left: 41px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.25);
  width: 313px;
  height: 66px;
  cursor: pointer;
}
.retour-aux-choix23 {
  position: absolute;
  top: 677px;
  left: 42px;
  font-size: var(--font-size-mid);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 63px;
}
.choses-lunes-child1,
.retour-menu23 {
  position: absolute;
  top: 769px;
  height: 43px;
}
.choses-lunes-child1 {
  left: 126px;
  border-radius: var(--br-7xs);
  background-color: var(--color-antiquewhite);
  width: 130px;
}
.retour-menu23 {
  left: 135px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  cursor: pointer;
}
.le-plein-de {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line14 {
  margin: 0;
}
.le-plein-de-container {
  top: 459px;
  left: 42px;
  line-height: 86.1%;
}
.c23,
.le-plein-de-container,
.saint-joseph5 {
  position: absolute;
  display: inline-block;
  color: var(--color-black);
  width: 314px;
  height: 49px;
}
.c23 {
  top: 522px;
  left: 42px;
  font-family: var(--font-roboto);
}
.saint-joseph5 {
  top: 410px;
  left: 39px;
  font-size: var(--font-size-mini);
  line-height: 86.1%;
  font-weight: 300;
}
.ferme-des-76 {
  position: absolute;
  top: 318px;
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-bebas-neue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 83px;
}
.subtract-icon3 {
  position: relative;
  width: 0;
  height: 0;
  object-fit: cover;
}
.cuve-2-choses {
  position: absolute;
  top: 344px;
  left: 4px;
  font-family: var(--font-bebas-neue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 83px;
}
.choses-lunes-child2 {
  position: absolute;
  top: 167px;
  left: 240px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 63px;
  height: 63px;
}
.biodynamie26 {
  position: absolute;
  top: 184px;
  left: 240px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 29px;
}
.de-deux-choses-lune-jean-delob-icon1 {
  position: absolute;
  top: 72px;
  left: 85px;
  width: 211px;
  height: 241px;
  object-fit: cover;
}
.choses-lunes {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-brown);
  font-family: var(--font-inter);
}
