.la-slection-tradevino9 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.pour-la-salade {
  margin: 0;
}
.la-slection-tradevino-container9 {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 315px;
  height: 78px;
}
.crottin-de-chvre-child {
  position: absolute;
  top: 652px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.crottin-de-chvre-item,
.div42 {
  position: absolute;
  top: 636px;
  left: 138px;
  width: 59px;
  height: 59px;
}
.div42 {
  top: 651px;
  left: 145px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille306,
.copy-bouteille307 {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copy-bouteille307 {
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
}
.copy-bouteille308,
.copy-bouteille309,
.copy-bouteille310 {
  position: absolute;
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.copy-bouteille309,
.copy-bouteille310 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copy-bouteille310 {
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
}
.copy-bouteille311,
.copy-bouteille312,
.copy-bouteille313 {
  position: absolute;
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
  transform-origin: 0 0;
}
.copy-bouteille312,
.copy-bouteille313 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copy-bouteille313 {
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
}
.copy-bouteille-parent32,
.copy-bouteille314 {
  position: absolute;
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent32 {
  top: 624px;
  left: 137.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.group-child63,
.group-child64 {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.group-child63 {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.group-child64 {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.je-dcouvre27,
.rectangle-parent26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.je-dcouvre27 {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.group-parent36,
.vector-icon12 {
  position: absolute;
  cursor: pointer;
}
.group-parent36 {
  top: 778px;
  left: 223px;
  width: 137px;
  height: 49px;
  color: var(--color-indianred);
}
.vector-icon12 {
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 2.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.coteaux-des-girondales-container1 {
  top: 655px;
  height: 37px;
}
.coteaux-des-girondales-container1,
.haute-savoie1,
.mattai {
  position: absolute;
  left: 194px;
  display: inline-block;
  width: 194px;
}
.mattai {
  top: 716px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 37px;
}
.haute-savoie1 {
  top: 745px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.didascalie3,
.domaine-batar-langelier-2022-container1,
.muscadet3 {
  position: absolute;
  top: 185px;
  left: 182px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.didascalie3,
.muscadet3 {
  top: 232px;
  left: 183px;
  font-size: var(--font-size-sm);
}
.muscadet3 {
  top: 252px;
  left: 182px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.crottin-de-chvre-inner {
  position: absolute;
  top: 182px;
  left: 12px;
  width: 171px;
  height: 171px;
}
.crottin-de-chvre-child1,
.div43 {
  position: absolute;
  top: 166px;
  left: 126px;
  width: 59px;
  height: 59px;
}
.div43 {
  top: 181px;
  left: 133px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille-parent33 {
  position: absolute;
  top: 154px;
  left: 125.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xs);
}
.group-parent37 {
  position: absolute;
  top: 276px;
  left: 211px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.crottin-de-chvre-child2 {
  position: absolute;
  top: 254px;
  left: 139px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie18 {
  position: absolute;
  top: 265px;
  left: 137px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.crottin-de-chvre-child3,
.div44 {
  position: absolute;
  top: 144.2px;
  left: 158px;
  width: 49px;
  height: 49px;
}
.div44 {
  top: 155.2px;
  left: 160px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-verre55,
.copy-verre56,
.copy-verre57 {
  position: absolute;
  top: -14.93px;
  left: 6.18px;
  transform: rotate(83.04deg);
  transform-origin: 0 0;
}
.copy-verre56,
.copy-verre57 {
  top: -11.09px;
  left: 8.64px;
  transform: rotate(88.39deg);
}
.copy-verre57 {
  top: -6.75px;
  left: 9.9px;
  transform: rotate(92.84deg);
}
.copy-verre-parent9,
.copy-verre58,
.copy-verre59 {
  position: absolute;
  top: -2.95px;
  left: 10.62px;
  transform: rotate(92.36deg);
  transform-origin: 0 0;
}
.copy-verre-parent9,
.copy-verre59 {
  top: 0.21px;
  left: 10.87pxpx;
  transform: rotate(88.76deg);
}
.copy-verre-parent9 {
  top: 150.12px;
  left: 188.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.domaine-tatin-2020-container3 {
  position: absolute;
  top: 425px;
  left: 188px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.la-commanderie7 {
  line-height: 80.5%;
}
.span3 {
  font-size: var(--font-size-xl);
}
.la-commanderie6,
.reuilly4 {
  position: absolute;
  top: 470px;
  left: 188px;
  display: inline-block;
  width: 194px;
  height: 37px;
  font-size: var(--font-size-sm);
}
.reuilly4 {
  top: 502px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.crottin-de-chvre-child4 {
  position: absolute;
  top: 411px;
  left: 15px;
  width: 171px;
  height: 171px;
}
.crottin-de-chvre-child5,
.div45 {
  position: absolute;
  top: 403px;
  left: 136px;
  width: 59px;
  height: 59px;
}
.div45 {
  top: 421px;
  left: 139px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 54px;
  height: 41px;
}
.crottin-de-chvre-child6,
.div46 {
  position: absolute;
  top: 383px;
  left: 166px;
  width: 49px;
  height: 49px;
}
.div46 {
  top: 394px;
  left: 168px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille324,
.copy-bouteille325,
.copy-bouteille326 {
  position: absolute;
  top: 17.36px;
  left: -0.21px;
  transform: rotate(-49.74deg);
  transform-origin: 0 0;
}
.copy-bouteille325,
.copy-bouteille326 {
  top: 13.1px;
  left: 3.17px;
  transform: rotate(-41.87deg);
}
.copy-bouteille326 {
  top: 9.39px;
  left: 7.05px;
  transform: rotate(-34.11deg);
}
.copy-bouteille327,
.copy-bouteille328,
.copy-bouteille329 {
  position: absolute;
  top: 6.46px;
  left: 11.2px;
  transform: rotate(-28.16deg);
  transform-origin: 0 0;
}
.copy-bouteille328,
.copy-bouteille329 {
  top: 4.46px;
  left: 14.73px;
  transform: rotate(-22.26deg);
}
.copy-bouteille329 {
  top: 3.04px;
  left: 18.08px;
  transform: rotate(-18.5deg);
}
.copy-bouteille330,
.copy-bouteille331,
.copy-bouteille332 {
  position: absolute;
  top: 1.99px;
  left: 20.93px;
  transform: rotate(-12.67deg);
  transform-origin: 0 0;
}
.copy-bouteille331,
.copy-bouteille332 {
  top: 1.01px;
  left: 24.85px;
  transform: rotate(-6.83deg);
}
.copy-bouteille332 {
  top: 0.44px;
  left: 28.79px;
  transform: rotate(-1.19deg);
}
.copy-bouteille-parent34,
.copy-verre-parent10 {
  position: absolute;
  top: 392.01px;
  left: 133.66px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.68deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xs);
}
.copy-verre-parent10 {
  top: 388.12px;
  left: 197px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.group-parent38 {
  position: absolute;
  top: 533px;
  left: 214px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.crottin-de-chvre-child7 {
  position: absolute;
  top: 478px;
  left: 143px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique12 {
  position: absolute;
  top: 488px;
  left: 143px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.image-17-icon3 {
  position: absolute;
  top: 385px;
  left: 69px;
  border-radius: var(--br-7xl);
  width: 64px;
  height: 202.67px;
  object-fit: cover;
}
.didascalie-muscadet-sevre-et-m-icon3 {
  position: absolute;
  top: 152px;
  left: 0;
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.mattai-2022-les-coteaux-des-gi-icon {
  position: absolute;
  top: 616px;
  left: 9px;
  width: 201px;
  height: 211px;
  object-fit: cover;
}
.crottin-de-chvre-child8 {
  position: absolute;
  top: 717px;
  left: 143px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique13 {
  position: absolute;
  top: 727px;
  left: 143px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.crottin-de-chvre {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
