.domaine-tatin-22-child {
  position: absolute;
  top: 199px;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 390px;
  height: 645px;
}
.shadow-icon28 {
  position: absolute;
  top: 100px;
  left: 22px;
  width: 437px;
  height: 436px;
  object-fit: cover;
  display: none;
  opacity: 0.7;
}
.domaine-tatin-22-item {
  position: absolute;
  top: 94px;
  left: 85px;
  width: 219px;
  height: 219px;
}
.domaine-tatin-22-inner {
  position: absolute;
  top: 677px;
  left: 41px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.25);
  width: 313px;
  height: 66px;
  cursor: pointer;
}
.retour-aux-choix28 {
  position: absolute;
  top: 677px;
  left: 42px;
  font-size: var(--font-size-mid);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 63px;
}
.domaine-tatin-22-child1 {
  position: absolute;
  top: 769px;
  left: 126px;
  border-radius: var(--br-7xs);
  background-color: var(--color-antiquewhite);
  width: 130px;
  height: 43px;
}
.retour-menu28 {
  position: absolute;
  top: 769px;
  left: 135px;
  font-weight: 600;
  color: var(--color-brown);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 43px;
  cursor: pointer;
}
.cerises-framboises-sur3 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.cerises-framboises-sur-container3 {
  top: 454px;
  left: 42px;
  font-size: var(--font-size-xl);
  line-height: 86.1%;
}
.c28,
.cerises-framboises-sur-container3,
.reuilly7 {
  position: absolute;
  display: inline-block;
  width: 314px;
  height: 49px;
}
.c28 {
  top: 537px;
  left: 42px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.reuilly7 {
  top: 420px;
  left: 38px;
  line-height: 86.1%;
  font-weight: 300;
}
.cuve-la-commanderie3 {
  margin: 0;
  font-size: var(--font-size-xl);
}
.domaine-tatin2020-cuve-container7 {
  line-break: anywhere;
  width: 100%;
}
.domaine-tatin2020-cuve-container6 {
  position: absolute;
  top: 333px;
  left: 0;
  font-family: var(--font-bebas-neue);
  color: var(--color-brown);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  width: 390px;
  height: 83px;
  font-size: var(--font-size-13xl);
}
.domaine-tatin-22-child2 {
  position: absolute;
  top: 167px;
  left: 240px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 63px;
  height: 63px;
}
.biologique24 {
  position: absolute;
  top: 184px;
  left: 240px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 29px;
}
.image-17-icon6 {
  position: absolute;
  top: 68px;
  left: 157px;
  border-radius: var(--br-11xl);
  width: 79px;
  height: 250.17px;
  object-fit: cover;
}
.domaine-tatin-22 {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
