.domaine-saint-agns-child {
  position: absolute;
  top: 199px;
  left: 0;
  border-radius: var(--br-21xl) var(--br-21xl) 0 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 390px;
  height: 645px;
}
.shadow-icon12 {
  position: absolute;
  top: 100px;
  left: 22px;
  width: 437px;
  height: 436px;
  object-fit: cover;
  display: none;
  opacity: 0.7;
}
.domaine-saint-agns-item {
  position: absolute;
  top: 94px;
  left: 85px;
  width: 219px;
  height: 219px;
}
.domaine-saint-agns-inner {
  position: absolute;
  top: 677px;
  left: 41px;
  border-radius: var(--br-3xs);
  background-color: var(--color-brown);
  box-shadow: 0 4px 36px rgba(0, 0, 0, 0.25);
  width: 313px;
  height: 66px;
  cursor: pointer;
}
.retour-aux-choix12 {
  position: absolute;
  top: 677px;
  left: 42px;
  font-size: var(--font-size-mid);
  font-weight: 600;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 63px;
}
.domaine-saint-agns-child1 {
  position: absolute;
  top: 769px;
  left: 126px;
  border-radius: var(--br-7xs);
  background-color: var(--color-antiquewhite);
  width: 130px;
  height: 43px;
}
.retour-menu12 {
  position: absolute;
  top: 769px;
  left: 135px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 43px;
  cursor: pointer;
}
.des-tanins-soyeux {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.blank-line4 {
  margin: 0;
}
.des-tanins-soyeux-container {
  top: 467px;
  left: 41px;
  line-height: 86.1%;
}
.c12,
.des-tanins-soyeux-container,
.languedoc2 {
  position: absolute;
  display: inline-block;
  color: var(--color-black);
  width: 314px;
  height: 49px;
}
.c12 {
  top: 551px;
  left: 40px;
  font-family: var(--font-roboto);
}
.languedoc2 {
  top: 418px;
  left: 38px;
  font-size: var(--font-size-mini);
  line-height: 86.1%;
  font-weight: 300;
}
.domaine-de-lheritage {
  position: absolute;
  top: 328px;
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-bebas-neue);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 83px;
}
.subtract-icon {
  position: relative;
  width: 0;
  height: 0;
  object-fit: cover;
}
.domaine-saint-agns-child2 {
  position: absolute;
  top: 167px;
  left: 240px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 63px;
  height: 63px;
}
.biodynamie24,
.cuve-sainte-agnes {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.biodynamie24 {
  top: 184px;
  left: 240px;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  color: var(--color-white);
  width: 64px;
  height: 29px;
}
.cuve-sainte-agnes {
  top: 360px;
  left: 3px;
  font-family: var(--font-bebas-neue);
  width: 390px;
  height: 83px;
}
.ermitage-du-pic-saint-loup-sai-icon2 {
  position: absolute;
  top: 29px;
  left: 156px;
  width: 77px;
  height: 284px;
  object-fit: cover;
}
.domaine-saint-agns {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-brown);
  font-family: var(--font-inter);
}
