.pour-le {
  margin: 0;
}
.la-slection-tradevino-container2 {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  white-space: pre-wrap;
  display: inline-block;
  width: 315px;
  height: 78px;
}
.boutdzan1,
.ctes-du-rhne3,
.domaine-mas-de-container5 {
  position: absolute;
  top: 176px;
  left: 187px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.boutdzan1,
.ctes-du-rhne3 {
  top: 232px;
  left: 188px;
  font-size: var(--font-size-sm);
}
.ctes-du-rhne3 {
  top: 261px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.entrecte-child {
  position: absolute;
  top: 167px;
  left: 15px;
  width: 171px;
  height: 171px;
}
.div10,
.entrecte-item {
  position: absolute;
  top: 159px;
  left: 136px;
  width: 59px;
  height: 59px;
}
.div10 {
  top: 176px;
  left: 139px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 54px;
  height: 41px;
}
.copy-bouteille72,
.copy-bouteille73 {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copy-bouteille73 {
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
}
.copy-bouteille74,
.copy-bouteille75,
.copy-bouteille76 {
  position: absolute;
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.copy-bouteille75,
.copy-bouteille76 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copy-bouteille76 {
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
}
.copy-bouteille77,
.copy-bouteille78,
.copy-bouteille79 {
  position: absolute;
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
  transform-origin: 0 0;
}
.copy-bouteille78,
.copy-bouteille79 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copy-bouteille79 {
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
}
.copy-bouteille-parent6,
.copy-bouteille80 {
  position: absolute;
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent6 {
  top: 147.5px;
  left: 134.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.group-child21,
.group-child22 {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.group-child21 {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.group-child22 {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.je-dcouvre6,
.rectangle-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.je-dcouvre6 {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.group-parent15,
.vector-icon5 {
  position: absolute;
  cursor: pointer;
}
.group-parent15 {
  top: 289px;
  left: 213px;
  width: 137px;
  height: 49px;
  color: var(--color-indianred);
}
.vector-icon5 {
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 20.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.entrecte-inner {
  position: absolute;
  top: 232px;
  left: 145px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie6 {
  position: absolute;
  top: 243px;
  left: 143px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.image-removebg-preview-2-icon3 {
  position: absolute;
  top: 145px;
  left: 70px;
  border-radius: var(--br-7xl);
  width: 63px;
  height: 199.9px;
  object-fit: cover;
}
.div11,
.entrecte-child1 {
  position: absolute;
  top: 138.2px;
  left: 167px;
  width: 49px;
  height: 49px;
}
.div11 {
  top: 149.2px;
  left: 169px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-verre5,
.copy-verre6,
.copy-verre7 {
  position: absolute;
  top: -14.93px;
  left: 6.18px;
  transform: rotate(83.04deg);
  transform-origin: 0 0;
}
.copy-verre6,
.copy-verre7 {
  top: -11.09px;
  left: 8.64px;
  transform: rotate(88.39deg);
}
.copy-verre7 {
  top: -6.75px;
  left: 9.9px;
  transform: rotate(92.84deg);
}
.copy-verre-group,
.copy-verre8,
.copy-verre9 {
  position: absolute;
  top: -2.95px;
  left: 10.62px;
  transform: rotate(92.36deg);
  transform-origin: 0 0;
}
.copy-verre-group,
.copy-verre9 {
  top: 0.21px;
  left: 10.87pxpx;
  transform: rotate(88.76deg);
}
.copy-verre-group {
  top: 144.12px;
  left: 197.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.entrecte-child2 {
  position: absolute;
  top: 647px;
  left: 11px;
  width: 171px;
  height: 171px;
}
.div12,
.entrecte-child3 {
  position: absolute;
  top: 631px;
  left: 125px;
  width: 59px;
  height: 59px;
}
.div12 {
  top: 646px;
  left: 132px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille90,
.copy-bouteille91 {
  position: absolute;
  top: 17.36px;
  left: 0.1px;
  transform: rotate(-50.76deg);
  transform-origin: 0 0;
}
.copy-bouteille91 {
  top: 13.04px;
  left: 3.41px;
  transform: rotate(-42.89deg);
}
.copy-bouteille92,
.copy-bouteille93,
.copy-bouteille94 {
  position: absolute;
  top: 9.27px;
  left: 7.21px;
  transform: rotate(-35.13deg);
  transform-origin: 0 0;
}
.copy-bouteille93,
.copy-bouteille94 {
  top: 6.26px;
  left: 11.32px;
  transform: rotate(-29.18deg);
}
.copy-bouteille94 {
  top: 4.2px;
  left: 14.81px;
  transform: rotate(-23.28deg);
}
.copy-bouteille95,
.copy-bouteille96,
.copy-bouteille97 {
  position: absolute;
  top: 2.72px;
  left: 18.14px;
  transform: rotate(-19.52deg);
  transform-origin: 0 0;
}
.copy-bouteille96,
.copy-bouteille97 {
  top: 1.61px;
  left: 20.97px;
  transform: rotate(-13.69deg);
}
.copy-bouteille97 {
  top: 0.56px;
  left: 24.86px;
  transform: rotate(-7.85deg);
}
.copy-bouteille-parent8,
.copy-bouteille98 {
  position: absolute;
  top: -0.07px;
  left: 28.79px;
  transform: rotate(-2.21deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent8 {
  top: 621.19px;
  left: 122px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(-0.34deg);
  font-size: var(--font-size-5xs);
}
.group-parent16 {
  position: absolute;
  top: 769px;
  left: 210px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.image-31-icon {
  position: absolute;
  top: 598px;
  left: 41px;
  border-radius: var(--br-181xl);
  width: 112px;
  height: 224px;
  object-fit: cover;
}
.entrecte-child4 {
  position: absolute;
  top: 714px;
  left: 136px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-100);
  width: 37px;
  height: 37px;
}
.naturel3 {
  position: absolute;
  top: 725px;
  left: 134px;
  font-size: var(--font-size-5xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.ferme-des-7-container1 {
  top: 662px;
  height: 37px;
}
.ferme-des-7-container1,
.halo-sur-le1,
.saint-joseph1 {
  position: absolute;
  left: 184px;
  display: inline-block;
  width: 194px;
}
.halo-sur-le1 {
  top: 716px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 37px;
}
.saint-joseph1 {
  top: 739px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.mas-des-agrunelles {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.mas-des-agrunelles-container,
.terrasses-du-larzac {
  position: absolute;
  top: 385px;
  left: 182px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.terrasses-du-larzac {
  top: 473px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.entrecte-child5 {
  position: absolute;
  top: 387px;
  left: 11px;
  width: 171px;
  height: 171px;
}
.div13,
.entrecte-child6 {
  position: absolute;
  top: 371px;
  left: 125px;
  width: 59px;
  height: 59px;
}
.div13 {
  top: 386px;
  left: 132px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille-parent9 {
  position: absolute;
  top: 361.19px;
  left: 122px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(-0.34deg);
  transform-origin: 0 0;
  font-size: var(--font-size-5xs);
}
.group-parent17 {
  position: absolute;
  top: 501px;
  left: 210px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.lindigene {
  position: absolute;
  top: 439px;
  left: 182px;
  font-size: var(--font-size-sm);
  display: inline-block;
  width: 194px;
  height: 37px;
}
.mas-des-agrunelles-indigene-1-icon {
  position: absolute;
  top: 367px;
  left: 44px;
  width: 107px;
  height: 192px;
  object-fit: cover;
}
.entrecte-child7 {
  position: absolute;
  top: 454px;
  left: 143px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie7 {
  position: absolute;
  top: 465px;
  left: 141px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.entrecte {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
