.pour-le-thon {
  margin: 0;
}
.la-slection-tradevino-container10 {
  position: absolute;
  top: 48px;
  left: 41px;
  font-size: var(--font-size-13xl);
  display: inline-block;
  width: 315px;
  height: 78px;
}
.didascalie4,
.domaine-batar-langelier-2022-container2,
.muscadet4 {
  position: absolute;
  top: 177px;
  left: 194px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.didascalie4,
.muscadet4 {
  top: 224px;
  left: 195px;
  font-size: var(--font-size-sm);
}
.muscadet4 {
  top: 244px;
  left: 194px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.thon-mi-cuit-child {
  position: absolute;
  top: 174px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.div47,
.thon-mi-cuit-item {
  position: absolute;
  top: 158px;
  left: 138px;
  width: 59px;
  height: 59px;
}
.div47 {
  top: 173px;
  left: 145px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.copy-bouteille333,
.copy-bouteille334 {
  position: absolute;
  top: 17.35px;
  left: -0.78px;
  transform: rotate(-47.86deg);
  transform-origin: 0 0;
}
.copy-bouteille334 {
  top: 13.2px;
  left: 2.74px;
  transform: rotate(-39.98deg);
}
.copy-bouteille335,
.copy-bouteille336,
.copy-bouteille337 {
  position: absolute;
  top: 9.62px;
  left: 6.74px;
  transform: rotate(-32.22deg);
  transform-origin: 0 0;
}
.copy-bouteille336,
.copy-bouteille337 {
  top: 6.83px;
  left: 10.98px;
  transform: rotate(-26.27deg);
}
.copy-bouteille337 {
  top: 4.94px;
  left: 14.58px;
  transform: rotate(-20.38deg);
}
.copy-bouteille338,
.copy-bouteille339,
.copy-bouteille340 {
  position: absolute;
  top: 3.64px;
  left: 17.97px;
  transform: rotate(-16.61deg);
  transform-origin: 0 0;
}
.copy-bouteille339,
.copy-bouteille340 {
  top: 2.68px;
  left: 20.86px;
  transform: rotate(-10.78deg);
}
.copy-bouteille340 {
  top: 1.82px;
  left: 24.8px;
  transform: rotate(-4.95deg);
}
.copy-bouteille-parent35,
.copy-bouteille341 {
  position: absolute;
  top: 1.39px;
  left: 28.76px;
  transform: rotate(0.7deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent35 {
  top: 146px;
  left: 137.06px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(2.57deg);
  font-size: var(--font-size-5xs);
}
.group-child69,
.group-child70 {
  position: absolute;
  border-radius: var(--br-7xs);
  width: 133px;
  height: 44px;
}
.group-child69 {
  top: 0;
  left: 4px;
  background-color: var(--color-antiquewhite);
}
.group-child70 {
  top: 5px;
  left: 0;
  border: 1px solid var(--color-antiquewhite);
  box-sizing: border-box;
}
.je-dcouvre30,
.rectangle-parent29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 137px;
  height: 49px;
}
.je-dcouvre30 {
  top: 9px;
  left: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 27px;
}
.group-parent39 {
  position: absolute;
  top: 268px;
  left: 223px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 3.32%;
  width: 7.18%;
  top: 8.18%;
  right: 86.67%;
  bottom: 88.51%;
  left: 20.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14 {
  cursor: pointer;
}
.thon-mi-cuit-inner {
  position: absolute;
  top: 246px;
  left: 151px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-forestgreen-200);
  width: 37px;
  height: 37px;
}
.biodynamie19 {
  position: absolute;
  top: 257px;
  left: 149px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 18px;
}
.chteau-lagrange {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.chteau-lagrange-2022-container {
  position: absolute;
  top: 428px;
  left: 197px;
  display: inline-block;
  width: 194px;
  height: 37px;
}
.coteaux-des-girondales-container2 {
  top: 667px;
  left: 197px;
  height: 37px;
}
.ceux-daprs,
.coteaux-des-girondales-container2,
.entre-deux-mers,
.haute-savoie2 {
  position: absolute;
  display: inline-block;
  width: 194px;
}
.ceux-daprs {
  top: 719px;
  left: 204px;
  font-size: var(--font-size-sm);
  line-height: 80.5%;
  height: 37px;
}
.entre-deux-mers,
.haute-savoie2 {
  top: 475px;
  left: 197px;
  font-size: var(--font-size-xs);
  font-weight: 200;
  font-family: var(--font-inter);
  height: 22px;
}
.haute-savoie2 {
  top: 738px;
}
.thon-mi-cuit-child1,
.thon-mi-cuit-child2 {
  position: absolute;
  top: 643px;
  left: 24px;
  width: 171px;
  height: 171px;
}
.thon-mi-cuit-child2 {
  top: 403px;
}
.thon-mi-cuit-child3 {
  position: absolute;
  top: 482px;
  left: 140px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique14 {
  position: absolute;
  top: 492px;
  left: 140px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.thon-mi-cuit-child4 {
  position: absolute;
  top: 713px;
  left: 153px;
  border-radius: var(--br-12xl-5);
  background-color: var(--color-darkslategray);
  width: 35px;
  height: 36px;
}
.biologique15 {
  position: absolute;
  top: 723px;
  left: 153px;
  font-size: var(--font-size-7xs);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 16px;
}
.thon-mi-cuit-child5 {
  position: absolute;
  top: 397px;
  left: 151px;
  width: 59px;
  height: 59px;
}
.thon-mi-cuit-child6 {
  position: absolute;
  top: 374px;
  left: 182px;
  width: 49px;
  height: 49px;
}
.thon-mi-cuit-child7 {
  position: absolute;
  top: 635px;
  left: 145px;
  width: 59px;
  height: 59px;
}
.div48,
.div49,
.div50 {
  position: absolute;
  top: 415px;
  left: 158px;
  font-size: var(--font-size-3xl);
  display: inline-block;
  width: 46px;
  height: 41px;
}
.div49,
.div50 {
  top: 385px;
  left: 184px;
  font-size: var(--font-size-base);
}
.div50 {
  top: 653px;
  left: 148px;
  font-size: var(--font-size-3xl);
  width: 54px;
}
.copy-bouteille342,
.copy-bouteille343 {
  position: absolute;
  top: 17.36px;
  left: -0.1px;
  transform: rotate(-50.1deg);
  transform-origin: 0 0;
}
.copy-bouteille343 {
  top: 13.08px;
  left: 3.25px;
  transform: rotate(-42.23deg);
}
.copy-bouteille344,
.copy-bouteille345,
.copy-bouteille346 {
  position: absolute;
  top: 9.35px;
  left: 7.11px;
  transform: rotate(-34.46deg);
  transform-origin: 0 0;
}
.copy-bouteille345,
.copy-bouteille346 {
  top: 6.39px;
  left: 11.24px;
  transform: rotate(-28.51deg);
}
.copy-bouteille346 {
  top: 4.37px;
  left: 14.76px;
  transform: rotate(-22.62deg);
}
.copy-bouteille347,
.copy-bouteille348,
.copy-bouteille349 {
  position: absolute;
  top: 2.93px;
  left: 18.1px;
  transform: rotate(-18.86deg);
  transform-origin: 0 0;
}
.copy-bouteille348,
.copy-bouteille349 {
  top: 1.86px;
  left: 20.95px;
  transform: rotate(-13.02deg);
}
.copy-bouteille349 {
  top: 0.85px;
  left: 24.85px;
  transform: rotate(-7.19deg);
}
.copy-bouteille-parent36,
.copy-bouteille350 {
  position: absolute;
  top: 0.26px;
  left: 28.79px;
  transform: rotate(-1.54deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent36 {
  top: 387px;
  left: 148.13px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.33deg);
  font-size: var(--font-size-5xs);
}
.copy-bouteille351,
.copy-bouteille352 {
  position: absolute;
  top: 17.36px;
  left: -0.21px;
  transform: rotate(-49.74deg);
  transform-origin: 0 0;
}
.copy-bouteille352 {
  top: 13.1px;
  left: 3.17px;
  transform: rotate(-41.87deg);
}
.copy-bouteille353,
.copy-bouteille354,
.copy-bouteille355 {
  position: absolute;
  top: 9.39px;
  left: 7.05px;
  transform: rotate(-34.11deg);
  transform-origin: 0 0;
}
.copy-bouteille354,
.copy-bouteille355 {
  top: 6.46px;
  left: 11.2px;
  transform: rotate(-28.16deg);
}
.copy-bouteille355 {
  top: 4.46px;
  left: 14.73px;
  transform: rotate(-22.26deg);
}
.copy-bouteille356,
.copy-bouteille357,
.copy-bouteille358 {
  position: absolute;
  top: 3.04px;
  left: 18.08px;
  transform: rotate(-18.5deg);
  transform-origin: 0 0;
}
.copy-bouteille357,
.copy-bouteille358 {
  top: 1.99px;
  left: 20.93px;
  transform: rotate(-12.67deg);
}
.copy-bouteille358 {
  top: 1.01px;
  left: 24.85px;
  transform: rotate(-6.83deg);
}
.copy-bouteille-parent37,
.copy-bouteille359 {
  position: absolute;
  top: 0.44px;
  left: 28.79px;
  transform: rotate(-1.19deg);
  transform-origin: 0 0;
}
.copy-bouteille-parent37 {
  top: 624.01px;
  left: 142.66px;
  width: 32.12px;
  height: 23.73px;
  transform: rotate(0.68deg);
  font-size: var(--font-size-5xs);
}
.group-parent40,
.group-parent41 {
  position: absolute;
  top: 501px;
  left: 223px;
  width: 137px;
  height: 49px;
  cursor: pointer;
  color: var(--color-indianred);
}
.group-parent41 {
  top: 765px;
  left: 225px;
}
.image-25-icon,
.image-26-icon {
  position: absolute;
  object-fit: cover;
}
.image-25-icon {
  top: 358px;
  left: 61px;
  border-radius: var(--br-26xl);
  width: 97px;
  height: 218px;
}
.image-26-icon {
  top: 606px;
  left: 43px;
  border-radius: 66px;
  width: 132px;
  height: 211px;
}
.copy-verre70,
.copy-verre71,
.copy-verre72 {
  position: absolute;
  top: -14.93px;
  left: 6.18px;
  transform: rotate(83.04deg);
  transform-origin: 0 0;
}
.copy-verre71,
.copy-verre72 {
  top: -11.09px;
  left: 8.64px;
  transform: rotate(88.39deg);
}
.copy-verre72 {
  top: -6.75px;
  left: 9.9px;
  transform: rotate(92.84deg);
}
.copy-verre-parent12,
.copy-verre73,
.copy-verre74 {
  position: absolute;
  top: -2.95px;
  left: 10.62px;
  transform: rotate(92.36deg);
  transform-origin: 0 0;
}
.copy-verre-parent12,
.copy-verre74 {
  top: 0.21px;
  left: 10.87pxpx;
  transform: rotate(88.76deg);
}
.copy-verre-parent12 {
  top: 379.92px;
  left: 212.92px;
  width: 12.09px;
  height: 17.67px;
  transform: rotate(-66.94deg);
  font-size: var(--font-size-7xs);
}
.didascalie-muscadet-sevre-et-m-icon4 {
  position: absolute;
  top: 141px;
  left: 8px;
  width: 210px;
  height: 210px;
  object-fit: cover;
}
.thon-mi-cuit1 {
  position: relative;
  background-color: var(--color-darkslategray);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-antiquewhite);
  font-family: var(--font-bebas-neue);
}
